@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

body{
    background-image: linear-gradient(45deg, blue, black);
    background-repeat: no-repeat;
}
h3, h1{
    font-family: 'Rubik', sans-serif;;
    font-weight: bold;
    color: white;
}

.botao{
    width: 180px;
    height: 35px;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.pergunta{
    background-color: rgb(30, 199, 255);
}
.tela_quiz{
    display: none;
}
.alternativas{
    cursor: pointer;
}
.alternativas:hover{
    transform: scale(1.05);
}